* {
  font-family: sans-serif;
  flex-wrap: wrap;
}

.carte-produit {
  border: 1px solid #ff7373;
  margin-top: 20px;
}

.titre-acc{
  color: #ff7373;
  text-align: center;
}

.carte-img {
  height: 400px;
  width: 400px;
}

.container-carte {
  display: flex;
  justify-content: space-around;
}

.titre-carte {
  color: #ff7373;
  text-align: center;
}

.textecategorie {
  margin-left: 5px;
  font-size: 15px;
}