.navbar-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: #f54949;
  background-color: #DCE3FA;
  height: 60px;
}

.link-nav {
  color: #ff7373;
}

.link-nav:visited {
  color: #ff7373;
}

.list {
margin-top: 20px;
}

.logo {
  margin-top: -50px;
  margin-left: -50px;
  width: 180px;
  height: 120px;
}